html
  head
    title= title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet" href="/public/styles.css")
    script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    script(src='/public/client.js')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
  div.alertWrapper
    input#toggle-1.closeBInput(type="checkbox")
    div.alert(class=message ? "" : "hidden").animated.slideInDown
      span
        = message
      label(for="toggle-1")
        span.closeB(for="toggle-1")
  Main
    div#siteWrapper
      div#mainHeading.animated.zoomIn
        h1.animated.infinite.pulse= "brct.io"
      nav#navbar
        ul
          li#home.animated.flipInX.active
            ="Home"
          li#about.animated.flipInX
            ="About"
          li#game.animated.flipInX
            ="Game"
          li#contact.animated.flipInX
            ="Contact"
            
      div#pagesWrapper
        div#homePage.page.centerPage
          include ../includes/home.pug
        div#aboutPage.page.rightPage(style="display: none;")
          include ../includes/about.pug
        div#gamePage.page.rightPage(style="display: none;")
          include ../includes/game.pug
        div#contactPage.page.rightPage(style="display: none;")
          include ../includes/contact.pug
