div#bio
  h3="James Clague"
  img(src="/public/images/P000090408.jpg")#bioImage
  div#bioDesc
    p="James Clague is a Senior at Union College studying Computing with a Computer Science emphasis. He is also studying for an Engineering associates and a Mathematics minor. James graduated from Mile High Academy in May 2015. He served as the yearbook editor during his senior year. He currently works at Union for Academic Administration, where he oversees the technological needs of the office. In addition, he is the director of the computer lab. This summer, he will be spending this summer working for Information Systems, in addition to his other jobs. Last summer, James flew as a UAV Pilot for a crop sciences project studying the viability of remote sensing to determine crop health."
