h3="Incremental Meta Idle"
  div
    div#username
      div.buttonWrapper
        span#uResponseZone
        span
          ="Username: "
          input(type="text")#usernameInput.textInput
        span
          ="Pin (4 digit):"
          input(type="text" maxlength="4" pattern="([0-9][0-9][0-9][0-9])")#pinInput.textInput
          button(type="button")#submitButton.button
            ="Submit"
    div#loading.animated.flash.infinite
      span
        ="LOADING GAME"
    div#gameArea.area
      div#ideasSet.buttonWrapper.set
        div
          span#ideasStat.stat
            ="Ideas: 0"
        button(type="button")#ideasButton.button
          ="Think of Ideas"
      div#designsSet.buttonWrapper.set
        div
          span#designsStat.stat
            ="Designs: 0"
          p.description
            ="Spurs greater ideas (+1)"
        button(type="button")#designsButton.button
          ="Draw up Designs (100 Ideas)"
      div#artworkSet.buttonWrapper.set
        div
          span#artworkStat.stat
            ="Artwork: 0"
          p.description
            ="Inspires ideas (+15)"
        button(type="button")#artworkButton.button
          ="Create Artwork (10 Designs)"
      div#functionsSet.buttonWrapper.set
        div
          span#functionsStat.stat
            ="Functions: 0"
          p.description
            ="Eases future designs (+1)"
        button(type="button")#functionsButton.button
          ="Construct Functions (100 Designs)"
    div#userControls
      div#controlsContainer
        span#usernameInfo
        button(type="button")#deleteUserButton.button
          ="Delete Data"
        button(type="button")#logoutButton.button
          ="Log Out"
