h3="Incremental Meta Idle"
  div
    div#username
      div.buttonWrapper
        span#uResponseZone
        span
          ="Username: "
          input(type="text")#usernameInput.textInput
        span
          ="Pin (4 digit):"
          input(type="text" maxlength="4" pattern="([0-9][0-9][0-9][0-9])")#pinInput.textInput
          button(type="button")#submitButton.button
            ="Submit"
    div#gameArea.area
      div.buttonWrapper
        div
          span#ideasStat
            ="Ideas: 0"
        button(type="button")#ideasButton.button
          ="Think of Ideas"
    div#userControls
      span#usernameInfo
      button(type="button")#logoutButton.button
        ="Log Out"
