h3="Welcome."
p.paraMain.
  This is a singlepage-like website for James' honors project in his major. It is built using a #[a(target="_blank", href="https://nodejs.org/en/") NodeJS]
  and #[a(target="_blank", href="https://socket.io/") Redis] backend with
  #[a(target="_blank", href="https://socket.io/") socket.io],
  #[a(target="_blank", href="https://expressjs.com/") express],
  #[a(target="_blank", href="https://pugjs.org") pug],
  and #[a(target="_blank", href="https://jquery.com/") jQuery].
  There are a few other miscellaneous packages as well, like the incredibly convenient #[a(target="_blank", href="https://github.com/js-cookie") js-cookie].
  The github repository for this project is available #[a(target="_blank", href="https://github.com/greenitthe/honors-project/") here].
